body {
    background-color: #f4f4f4;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    line-height: 1.6em;
    margin: auto;
    width: 50%;
    border: 3px solid #3C99DC;
    background: #D5F3FE;
    border-radius: 25px;
    padding: 20px
}

.center {
    margin: auto;
}