<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/static/css/style.css'/>
    <title>Hi Hungry, I'm Dad.</title>
</head>
<body>
    <header><h3>Hi Hungry, I'm Dad.</h3></header>
    <div id="joke">
        <p>{{ joke }}</p>
    </div>
    <div id="punchline">
        <p>{{ punchline }}</p>
    </div>
    <div id="refresh"><form><input type=button value="Get Another Chuckle" onClick="window.location.reload()"></form></div>
    <footer><img alt="GitHub forks" src="https://img.shields.io/github/forks/jaysgrant/dadjoke-ui?label=Fork%20me%20on%20GitHub&style=social"></footer>
</body>
</html>