<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/static/css/style.css'/>
    <title>Hi Hungry, I'm Dad.</title>
    <style>
        body {
            background-color: #f4f4f4;
            color: #555;
            font-family: Arial, Helvetica, sans-serif;
            font-size:16px;
            line-height: 1.6em;
            margin: auto;
            width: 50%;
            border: 3px solid #3C99DC;
            background: #D5F3FE;
            border-radius: 25px;
            padding: 20px
        }
        .center {
            margin: auto;
        }
    </style>
</head>
<body>
    <header class="center"><h3>Hi Hungry, I'm Dad.</h3></header>
    <div id="joke" class="center">
        <p>{{ joke }}</p>
    </div >
    <div id="punchline" class="center">
        <p>{{ punchline }}</p>
    </div>
    <div id="refresh" class="center"><form><input type=button value="Get Another Chuckle" onClick="window.location.reload()"></form></div>
    <footer class="center"></footer>
</body>
</html>