<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/static/css/style.css'/>
    <title>Hi Hungry, I'm Dad.</title>
</head>
<body>
    <header class="center"><h3>Hi Hungry, I'm Dad.</h3></header>
    <div id="joke" class="center">
        <p>{{ joke }}</p>
    </div >
    <div id="punchline" class="center">
        <p>{{ punchline }}</p>
    </div>
    <div id="refresh" class="center"><form><input type=button value="Get Another Chuckle" onClick="window.location.reload()"></form></div>
    <footer class="center"></footer>
</body>
</html>